<div class="panel-group category-products">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a asp-controller="Profile" asp-action="Index">Profile</a></h4>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a asp-controller="Profile" asp-action="Orders">My orders</a></h4>
		</div>
	</div>
</div>
